.container.mt-3
  %p#alert= alert
  = form_tag('/admin', method: 'post') do
    = label_tag(:password, 'Mot de passe')
    = password_field_tag(:password)
    = submit_tag('Valider', :class => 'btn-primary')