= render 'traces/show'
-if !@trace.fichier_gpx.blank?
  %script
    afficheCarte('mapid', "#{File.join('/gpx', 'treks', @trace.fichier_gpx)}",
    '#{@trace.lat_depart},#{@trace.long_depart}', '#{@trace.lat_arrivee},#{@trace.long_arrivee}')