.container.mt-3
  = form_for(materiel) do |f|
    - if materiel.errors.any?
      #error_explanation
        %h2
          = pluralize(materiel.errors.count, 'erreur')
          , le matériel ne peut pas être enregistré :
        %ul
          - materiel.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :nom
      = f.text_field :nom
    .field
      = f.label :description
      = f.text_area :description, :class => 'tinymce', :rows => 10, :cols => 80, :id => 'mytextarea'
    .field
      = f.label :photo
      = f.select :photo, options_for_select(@photos_candidates, @materiel.photo)
    .field
      = f.label :nouvelle_photo
      = f.file_field :nouvelle_photo, accept: 'image/png,image/gif,image/jpeg'
    .field
      = f.label :poids
      = f.number_field :poids
    .field
      = f.label :reforme
      = f.check_box :reforme
    .actions
      = f.submit( f.object.new_record? ? 'Créer' : 'Mettre à jour', :class => 'btn-primary')

:javascript
  $(document).ready(function(){
    editeur();
  });