.container.mt-3
  %p#notice= notice
  = form_tag('/agenda', method: 'post') do
    = label_tag(:agenda, "Texte de l'agenda")
    = text_area_tag :agenda, @agenda.html_safe, :class => 'tinymce', :rows => 10, :cols => 80,
      :id => 'mytextarea'
    = submit_tag('Valider', :class => 'btn-primary')
:javascript
  $(document).ready(function(){
    editeur();
  });